* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


section{
    background-color: #006;

}

h1 {
    height: 100vh;   
    /* width: 100vw; */
    background-color:transparent ;
    position: absolute;
    top: 60%;
    left: 4%;
    transform: translateY(-30% -30% );
  
}

section::before{
    content: "";
    position:absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(red, yellow, green, blue);
    z-index: 2;
    mix-blend-mode: color;
}



 h1 span {
    font-size: 38px;
    padding: 5px;
    margin: 7px;
    color: white;
    animation: move 2.5s linear forwards;
    opacity: 0;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: rotateY(180deg);
    /* z-index: -1; */
    background-color: black;
    
    
}

@keyframes move {

    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(8px);
    }

    100% {
        transform: rotateY(0deg);
        filter: blur(0px);
        opacity: 1;
    }

}


h1 span:nth-child(1) {
    animation-delay: 1s;
}

h1 span:nth-child(2) {
    animation-delay: 1.35s;
}

h1 span:nth-child(3) {
    animation-delay: 1.55s  ;
}

h1 span:nth-child(4) {
    animation-delay:2s;
}

h1 span:nth-child(5) {
    animation-delay: 2.15s;
}

h1 span:nth-child(6) {
    animation-delay: 2.45s;
}

h1 span:nth-child(7) {
    animation-delay: 3s;
}

h1 span:nth-child(8) {
    animation-delay: 3.35s;
}

h1 span:nth-child(9) {
    animation-delay: 4s;
}

h1 span:nth-child(10) {
    animation-delay: 4.35s;
}
h1 span:nth-child(11) {
    animation-delay: 4.55s;
}
h1 span:nth-child(12) {
    animation-delay: 5s;
}
h1 span:nth-child(13) {
    animation-delay: 5.15s;
}
h1 span:nth-child(15) {
    animation-delay: 5.35s;
}
h1 span:nth-child(14) {
    animation-delay: 5.55s;
}



@media only screen and (max-width: 820px){

    video{
        height: 750px;
        position: absolute;
        top: 80px;
    }

}
    
